In [1]:
# to append df2 at the end of df1 dataframe
# df1.append(df2)
#print (df1)

# A continuous index value will be maintained
# across the rows in the new appended data frame.
df1.append(df2, ignore_index = True)
#print (df1)

NameError: name 'df1' is not defined

In [15]:
# pandas
import pandas as pd

verificar = 'hashlist10.txt' #nome do arquivo para colocar na variavel teste
Hist_A = 'Historico_A.txt' #nome do arquivo para colocar na variavel var_A
Hist_B = 'Historico_B.txt' #nome do arquivo para colocar na variavel var_B
colspecs = [(0,32),(32,34),(34,-1)]
var_A = pd.read_fwf(Hist_A,colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
var_B = pd.read_fwf(Hist_B,colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
teste = pd.read_fwf(verificar,colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )

display(teste)
display(var_A)
display(var_B)

#historico=pd.concat([var_A,var_B])
#historico = var_A.append(var_B)
historico = var_A.append(var_B, ignore_index = True)
display(historico)

                            hashmd5sum sp                  arquivo
0     7b4c84deffbca1744d6e27b6e09c8874  *  IMG-20220429-WA0211.jpg
1     ee0842f21b90acbfccd0b01bd91857f5  *  IMG-20220429-WA0299.jpg
2     57b0850b3c7360db8982d9a75914863a  *  IMG-20220429-WA0300.jpg
3     1611c604c986491bbab4ee414bce3ea2  *  IMG-20220429-WA0301.jpg
4     dc5e5ca5d4478e3cfde78f9f36de61cb  *  IMG-20220429-WA0302.jpg
...                                ... ..                      ...
3407  5a7800f00c15aeed9016cc956bca915b  *  VID-20220429-WA3844.mp4
3408  46ffbb302156518d8540720b326a0152  *  VID-20220429-WA3845.mp4
3409  356c8994f83b63c3fc54a37939f60725  *  VID-20220429-WA3846.mp4
3410  b54519d434290ac2445ed80b3f4f4365  *  VID-20220429-WA3847.mp4
3411  629fc35fd25f854f3cf488fb868a9dda  *  VID-20220429-WA3848.mp4

[3412 rows x 3 columns]

                             hashmd5sum  sp                   arquivo
0      9eff7b4bda6e3e5ec6cc384701a748f7  ,*  ,IMG-20220112-WA1401.jpg
1      ee512d5748a6e5776b25b11ed6a25059  ,,                       NaN
2      33b6b0a1d465ae532b1a87e3ec054bdd  ,,                       NaN
3      8b734263bda75132f90f8c9940d1e165  ,,                       NaN
4      1296c4664b6d9e11db4ac82025c607b6  ,,                       NaN
...                                 ...  ..                       ...
99994  e869e6a7cfdbafe0ac02a9010183f1f0  ,,                       NaN
99995  0d641a4c13e95b698317ecd3e9c0d62b  ,,                       NaN
99996  a9764475080a08fca50b032fe1052769  ,,                       NaN
99997  1e7a366e0f956bafe83721f836cdb4cd  ,,                       NaN
99998  aaccd2ae2fdaeafff642d67fd887dc7d  ,,                       NaN

[99999 rows x 3 columns]

                             hashmd5sum   sp  arquivo
0      aaccd2ae2fdaeafff642d67fd887dc7d   ,,      NaN
1      88fafcdf376a87323caecea44cd40b93   ,,      NaN
2      671f11c30b2b0e42fad6ccad6b10b82b   ,,      NaN
3      9ee2f026892398812152546878936347   ,,      NaN
4      2581ee83dfe5c8319704e87189eecbf9   ,,      NaN
...                                 ...  ...      ...
13766  88e0f48dabd89924b5656d9e6a7b7b92  NaN      NaN
13767  8cc2b562e5059604c32504c25819b9b0  NaN      NaN
13768  7c9380772cf02698ad406202ac6ad0df  NaN      NaN
13769  3ff1e6edbf43532fdd74b521afe64744  NaN      NaN
13770  732042e7bc1e8a0bdd6e31ca1703733a  NaN      NaN

[13771 rows x 3 columns]

                              hashmd5sum   sp                   arquivo
0       9eff7b4bda6e3e5ec6cc384701a748f7   ,*  ,IMG-20220112-WA1401.jpg
1       ee512d5748a6e5776b25b11ed6a25059   ,,                       NaN
2       33b6b0a1d465ae532b1a87e3ec054bdd   ,,                       NaN
3       8b734263bda75132f90f8c9940d1e165   ,,                       NaN
4       1296c4664b6d9e11db4ac82025c607b6   ,,                       NaN
...                                  ...  ...                       ...
113765  88e0f48dabd89924b5656d9e6a7b7b92  NaN                       NaN
113766  8cc2b562e5059604c32504c25819b9b0  NaN                       NaN
113767  7c9380772cf02698ad406202ac6ad0df  NaN                       NaN
113768  3ff1e6edbf43532fdd74b521afe64744  NaN                       NaN
113769  732042e7bc1e8a0bdd6e31ca1703733a  NaN                       NaN

[113770 rows x 3 columns]

In [17]:
comparado_tem = teste[teste['hashmd5sum'].isin(list(historico['hashmd5sum']))]
display(comparado_tem)

comparado_naotem = teste[~teste['hashmd5sum'].isin(list(historico['hashmd5sum']))]
display(comparado_naotem)

comparado_tem['arquivo'].to_csv('listax.txt', index=False, header=False)
display(historico)
comparado_naotem['hashmd5sum'].to_csv('historico_C.txt', index=False, header=False, mode='a')
historico = pd.read_fwf('Historico_C.txt',colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
display(historico)

                            hashmd5sum sp                  arquivo
0     7b4c84deffbca1744d6e27b6e09c8874  *  IMG-20220429-WA0211.jpg
104   ad02421b9ad04f9392f049ffd818937c  *  IMG-20220429-WA0706.jpg
156   ea9b9fdc4ba85d9ce59a8207b0775b69  *  IMG-20220429-WA1141.jpg
157   f2696210c09bebfbe61fb62203b0b641  *  IMG-20220429-WA1142.jpg
158   292c47ec3f5909d7c2f4032a583d9161  *  IMG-20220429-WA1143.jpg
...                                ... ..                      ...
3392  c047d3dbbcc75c23cae021d218aa326d  *  VID-20220429-WA3829.mp4
3396  4a2d83c01ecc62185da9240db5ac5bce  *  VID-20220429-WA3833.mp4
3397  4a5e9e8280b56fcbbc9cd9ba5059b9ce  *  VID-20220429-WA3834.mp4
3399  f896f40dc27e19ec863d55b54361895f  *  VID-20220429-WA3836.mp4
3405  9d1ba46b6126140c864c7ffddb9300f7  *  VID-20220429-WA3842.mp4

[676 rows x 3 columns]

                            hashmd5sum sp                  arquivo
1     ee0842f21b90acbfccd0b01bd91857f5  *  IMG-20220429-WA0299.jpg
2     57b0850b3c7360db8982d9a75914863a  *  IMG-20220429-WA0300.jpg
3     1611c604c986491bbab4ee414bce3ea2  *  IMG-20220429-WA0301.jpg
4     dc5e5ca5d4478e3cfde78f9f36de61cb  *  IMG-20220429-WA0302.jpg
5     54b8de59a57311c1a5a9348e55923105  *  IMG-20220429-WA0303.jpg
...                                ... ..                      ...
3407  5a7800f00c15aeed9016cc956bca915b  *  VID-20220429-WA3844.mp4
3408  46ffbb302156518d8540720b326a0152  *  VID-20220429-WA3845.mp4
3409  356c8994f83b63c3fc54a37939f60725  *  VID-20220429-WA3846.mp4
3410  b54519d434290ac2445ed80b3f4f4365  *  VID-20220429-WA3847.mp4
3411  629fc35fd25f854f3cf488fb868a9dda  *  VID-20220429-WA3848.mp4

[2736 rows x 3 columns]

                              hashmd5sum   sp                   arquivo
0       9eff7b4bda6e3e5ec6cc384701a748f7   ,*  ,IMG-20220112-WA1401.jpg
1       ee512d5748a6e5776b25b11ed6a25059   ,,                       NaN
2       33b6b0a1d465ae532b1a87e3ec054bdd   ,,                       NaN
3       8b734263bda75132f90f8c9940d1e165   ,,                       NaN
4       1296c4664b6d9e11db4ac82025c607b6   ,,                       NaN
...                                  ...  ...                       ...
113765  88e0f48dabd89924b5656d9e6a7b7b92  NaN                       NaN
113766  8cc2b562e5059604c32504c25819b9b0  NaN                       NaN
113767  7c9380772cf02698ad406202ac6ad0df  NaN                       NaN
113768  3ff1e6edbf43532fdd74b521afe64744  NaN                       NaN
113769  732042e7bc1e8a0bdd6e31ca1703733a  NaN                       NaN

[113770 rows x 3 columns]

                            hashmd5sum  sp  arquivo
0     ee0842f21b90acbfccd0b01bd91857f5 NaN      NaN
1     57b0850b3c7360db8982d9a75914863a NaN      NaN
2     1611c604c986491bbab4ee414bce3ea2 NaN      NaN
3     dc5e5ca5d4478e3cfde78f9f36de61cb NaN      NaN
4     54b8de59a57311c1a5a9348e55923105 NaN      NaN
...                                ...  ..      ...
2731  5a7800f00c15aeed9016cc956bca915b NaN      NaN
2732  46ffbb302156518d8540720b326a0152 NaN      NaN
2733  356c8994f83b63c3fc54a37939f60725 NaN      NaN
2734  b54519d434290ac2445ed80b3f4f4365 NaN      NaN
2735  629fc35fd25f854f3cf488fb868a9dda NaN      NaN

[2736 rows x 3 columns]