In [1]:
# pandas
import pandas as pd

verificar = 'hashlist10.txt' #nome do arquivo para colocar na variavel teste
historicoarquivo = 'Historico_A.txt' #nome do arquivo para colocar na variavel historico
colspecs = [(0,32),(32,34),(34,-1)]
historico = pd.read_fwf(historicoarquivo,colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
teste = pd.read_fwf(verificar,colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )

display(teste)
display(historico)
comparado_tem = teste[teste['hashmd5sum'].isin(list(historico['hashmd5sum']))]
display(comparado_tem)

comparado_naotem = teste[~teste['hashmd5sum'].isin(list(historico['hashmd5sum']))]
display(comparado_naotem)

historicoarquivo = 'Historico_B.txt' 
historico = pd.read_fwf(historicoarquivo,colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
display(historico)

tem = comparado_naotem[comparado_naotem['hashmd5sum'].isin(list(historico['hashmd5sum']))]
display(tem)

naotem = comparado_naotem[~comparado_naotem['hashmd5sum'].isin(list(historico['hashmd5sum']))]
display(naotem)

                            hashmd5sum sp                  arquivo
0     4a049562ddb489377d51efc6a4fda1fb  *  IMG-20220420-WA1896.jpg
1     1e6fee669f54499de5f75314b4af7b92  *  IMG-20220420-WA1897.jpg
2     941a3f099cb661e88aab13af0e6109fc  *  IMG-20220420-WA1898.jpg
3     c65c2f78c355ca6bb54df418eb2b7296  *  IMG-20220420-WA1899.jpg
4     9b5e05e63933e3fe7e6c2037e831a2fa  *  IMG-20220420-WA1900.jpg
...                                ... ..                      ...
2787  1cad849d7ddeb6ad1344efc2d276671b  *  VID-20220422-WA0880.mp4
2788  debfaa1a870452cc186862fa956a2109  *  VID-20220422-WA0881.mp4
2789  155b768c2d985b96318906932939dafe  *  VID-20220422-WA0882.mp4
2790  e202969835dc68fe92d1369c1c660ecd  *  VID-20220422-WA0883.mp4
2791  9af8586d0c85224285525eac00b3cd11  *  VID-20220422-WA0884.mp4

[2792 rows x 3 columns]

                             hashmd5sum  sp                   arquivo
0      9eff7b4bda6e3e5ec6cc384701a748f7  ,*  ,IMG-20220112-WA1401.jpg
1      ee512d5748a6e5776b25b11ed6a25059  ,,                       NaN
2      33b6b0a1d465ae532b1a87e3ec054bdd  ,,                       NaN
3      8b734263bda75132f90f8c9940d1e165  ,,                       NaN
4      1296c4664b6d9e11db4ac82025c607b6  ,,                       NaN
...                                 ...  ..                       ...
99994  e869e6a7cfdbafe0ac02a9010183f1f0  ,,                       NaN
99995  0d641a4c13e95b698317ecd3e9c0d62b  ,,                       NaN
99996  a9764475080a08fca50b032fe1052769  ,,                       NaN
99997  1e7a366e0f956bafe83721f836cdb4cd  ,,                       NaN
99998  aaccd2ae2fdaeafff642d67fd887dc7d  ,,                       NaN

[99999 rows x 3 columns]

                            hashmd5sum sp                  arquivo
65    2d712bda3d1f9e62ff2c632a331774a3  *  IMG-20220420-WA2319.jpg
136   9f20cef442e5dfcb821002648ba76921  *  IMG-20220420-WA2557.jpg
137   9ddb4ef889bc904ed1f4c99ad3db998a  *  IMG-20220420-WA2558.jpg
139   b515e9b657cd5ee174cbb5a5f5adc7aa  *  IMG-20220420-WA2560.jpg
145   de812bb8a879fc23fe9fc1d39f2051ab  *  IMG-20220420-WA2640.jpg
...                                ... ..                      ...
2772  8ca45042d25d954c2bde832347231589  *  VID-20220422-WA0865.mp4
2773  b092dde0d86c5b5b5e3dd25e74845957  *  VID-20220422-WA0866.mp4
2776  1212793c624c1253f857327a55fa50bc  *  VID-20220422-WA0869.mp4
2780  130094c21f383eb965acb099b6da27ab  *  VID-20220422-WA0873.mp4
2782  67297268f908946773f8a2bfcda23cd0  *  VID-20220422-WA0875.mp4

[371 rows x 3 columns]

                            hashmd5sum sp                  arquivo
0     4a049562ddb489377d51efc6a4fda1fb  *  IMG-20220420-WA1896.jpg
1     1e6fee669f54499de5f75314b4af7b92  *  IMG-20220420-WA1897.jpg
2     941a3f099cb661e88aab13af0e6109fc  *  IMG-20220420-WA1898.jpg
3     c65c2f78c355ca6bb54df418eb2b7296  *  IMG-20220420-WA1899.jpg
4     9b5e05e63933e3fe7e6c2037e831a2fa  *  IMG-20220420-WA1900.jpg
...                                ... ..                      ...
2787  1cad849d7ddeb6ad1344efc2d276671b  *  VID-20220422-WA0880.mp4
2788  debfaa1a870452cc186862fa956a2109  *  VID-20220422-WA0881.mp4
2789  155b768c2d985b96318906932939dafe  *  VID-20220422-WA0882.mp4
2790  e202969835dc68fe92d1369c1c660ecd  *  VID-20220422-WA0883.mp4
2791  9af8586d0c85224285525eac00b3cd11  *  VID-20220422-WA0884.mp4

[2421 rows x 3 columns]

                            hashmd5sum   sp  arquivo
0     88fafcdf376a87323caecea44cd40b93   ,,      NaN
1     671f11c30b2b0e42fad6ccad6b10b82b   ,,      NaN
2     9ee2f026892398812152546878936347   ,,      NaN
3     2581ee83dfe5c8319704e87189eecbf9   ,,      NaN
4     0db49c3ac2f926cb15b4793ec6e2851d   ,,      NaN
...                                ...  ...      ...
8703  9e66c9e8078b5e026eb8b3a04641837d  NaN      NaN
8704  0aaf5d4cf3679fd82bff592e10329f05  NaN      NaN
8705  2c94115b509c2c83bf3ab0be86526517  NaN      NaN
8706  9937eecc3086a557160b7aa1fbde110a  NaN      NaN
8707  70395ca259536906c0b29c35120a9eb5  NaN      NaN

[8708 rows x 3 columns]

                            hashmd5sum sp                  arquivo
53    74b16499cf98349c0a8f36d3775bbf89  *  IMG-20220420-WA2080.jpg
445   d2b9dbae7fd14c21593ad3b53812373a  *  IMG-20220422-WA0815.jpg
477   af07949f41cfadd834e3cbb77c782807  *  VID-20220420-WA1984.mp4
518   6a0be0afb3e33a7b3d8bb1a75f924f17  *  VID-20220420-WA2026.mp4
519   ed33a1b1c647de680081e7ddfd0d1879  *  VID-20220420-WA2027.mp4
...                                ... ..                      ...
2695  a3f9def4ccabab965fecd7157e88a3cd  *  VID-20220422-WA0786.mp4
2751  67459cc89d433da6028644209807101c  *  VID-20220422-WA0843.mp4
2778  3820352fc23a5596946c0cade340fcee  *  VID-20220422-WA0871.mp4
2779  d0b1e6829b0097bb3ada154aa827313e  *  VID-20220422-WA0872.mp4
2785  a6824350ec399124a0aaa1260782926b  *  VID-20220422-WA0878.mp4

[149 rows x 3 columns]

                            hashmd5sum sp                  arquivo
0     4a049562ddb489377d51efc6a4fda1fb  *  IMG-20220420-WA1896.jpg
1     1e6fee669f54499de5f75314b4af7b92  *  IMG-20220420-WA1897.jpg
2     941a3f099cb661e88aab13af0e6109fc  *  IMG-20220420-WA1898.jpg
3     c65c2f78c355ca6bb54df418eb2b7296  *  IMG-20220420-WA1899.jpg
4     9b5e05e63933e3fe7e6c2037e831a2fa  *  IMG-20220420-WA1900.jpg
...                                ... ..                      ...
2787  1cad849d7ddeb6ad1344efc2d276671b  *  VID-20220422-WA0880.mp4
2788  debfaa1a870452cc186862fa956a2109  *  VID-20220422-WA0881.mp4
2789  155b768c2d985b96318906932939dafe  *  VID-20220422-WA0882.mp4
2790  e202969835dc68fe92d1369c1c660ecd  *  VID-20220422-WA0883.mp4
2791  9af8586d0c85224285525eac00b3cd11  *  VID-20220422-WA0884.mp4

[2272 rows x 3 columns]

In [3]:
comparado_tem['arquivo'].to_csv('listax.txt', index=False, header=False)
tem['arquivo'].to_csv('listax.txt', index=False,mode='a', header=False)
display(historico)

comparado_naotem['hashmd5sum'].to_csv('historico_B.txt', index=False, header=False, mode='a')
naotem['hashmd5sum'].to_csv('historico_B.txt', index=False, header=False, mode='a')

historico = pd.read_fwf('Historico_B.txt',colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
display(historico)

                            hashmd5sum  sp  arquivo
0     88fafcdf376a87323caecea44cd40b93  ,,      NaN
1     671f11c30b2b0e42fad6ccad6b10b82b  ,,      NaN
2     9ee2f026892398812152546878936347  ,,      NaN
3     2581ee83dfe5c8319704e87189eecbf9  ,,      NaN
4     0db49c3ac2f926cb15b4793ec6e2851d  ,,      NaN
...                                ...  ..      ...
5742  e3c480110d18df0cbb0be26a343bf45f  ,,      NaN
5743  e586b27537a2a68592fbbfbb16dc6f09  ,,      NaN
5744  265151a5a37e295dd040a0c7cc4fef2c  ,,      NaN
5745  0c26b507b069bb84763d47692499d015  ,,      NaN
5746  d647c3b4562ba1a9964ecc660bc2141e  ,,      NaN

[5747 rows x 3 columns]

                            hashmd5sum   sp  arquivo
0     88fafcdf376a87323caecea44cd40b93   ,,      NaN
1     671f11c30b2b0e42fad6ccad6b10b82b   ,,      NaN
2     9ee2f026892398812152546878936347   ,,      NaN
3     2581ee83dfe5c8319704e87189eecbf9   ,,      NaN
4     0db49c3ac2f926cb15b4793ec6e2851d   ,,      NaN
...                                ...  ...      ...
8703  9e66c9e8078b5e026eb8b3a04641837d  NaN      NaN
8704  0aaf5d4cf3679fd82bff592e10329f05  NaN      NaN
8705  2c94115b509c2c83bf3ab0be86526517  NaN      NaN
8706  9937eecc3086a557160b7aa1fbde110a  NaN      NaN
8707  70395ca259536906c0b29c35120a9eb5  NaN      NaN

[8708 rows x 3 columns]

In [ ]:
# historico.hashmd5sum.duplicated()
# historico.hashmd5sum.duplicated().sum() # soma de duplicados
# (~historico.hashmd5sum.duplicated()).sum() # soma de NAO duplicados
# historico.loc[historico.duplicated(), :] # lista duplicados
# historico.drop_duplicates(inplace=True) # remove duplicados do dataframe, sem o inplace cria novo dataframe

# Considering certain columns for dropping duplicates
# df.drop_duplicates(subset=['Survived', 'Pclass', 'Sex'])

# To drop all duplicates
# df.drop_duplicates(keep=False)

# Use keep='last' to keep the last occurrence 
# df.drop_duplicates(keep='last')
historico.info()
historico.hashmd5sum.duplicated().sum()

# print (historico)
# historico.to_csv('historico.txt', index=False, header=False)
historico.to_csv('historico_A.txt', index=False, header=False)

In [ ]:
import os
import hashlib
from tqdm import tqdm #pip3 install --target="C:\Program Files\Python310\Scripts" tqdm ;cmd como ADM

path = '/Users/raziel/Python/018-hashlist_csv'
files = os.listdir(path)
# pbar = tqdm(total=len(path), position=0, leave=True)

for cadaarquivo in files:
    md5_hash = hashlib.md5()
    with open(cadaarquivo,"rb") as f:
        # Read and update hash in chunks of 4K
        for byte_block in iter(lambda: f.read(4096),b""):
            md5_hash.update(byte_block)
        print(md5_hash.hexdigest())

In [ ]:

from tqdm import tqdm
from pathlib import Path
 
 
#for i in tqdm(range(int(9e6))):
#    pass


from tqdm import tqdm
from time import sleep
 
#for i in tqdm(range(0, 100), desc ="Text You Want"):
#    sleep(.1)
    
#for i in tqdm(range(0, 100), ncols = 100, position = 0,
#               desc ="Text You Want"):
#    sleep(.1)

caminho = Path.cwd()
print(caminho)
pbar = tqdm(total=len(caminho), position=0, leave=True)

arquivos = caminho.iterdir()
for cadaarquivo in arquivos:
    print(cadaarquivo)
    sleep(.1)