In [1]:
# to append df2 at the end of df1 dataframe
# df1.append(df2)
#print (df1)

# A continuous index value will be maintained
# across the rows in the new appended data frame.
df1.append(df2, ignore_index = True)
#print (df1)

NameError: name 'df1' is not defined

In [4]:
# pandas
import pandas as pd

verificar = 'hashlist08.txt' #nome do arquivo para colocar na variavel teste
Hist_A = 'Historico_A.txt' #nome do arquivo para colocar na variavel var_A
Hist_B = 'Historico_B.txt' #nome do arquivo para colocar na variavel var_B
colspecs = [(0,32),(32,34),(34,-1)]
var_A = pd.read_fwf(Hist_A,colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
var_B = pd.read_fwf(Hist_B,colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
teste = pd.read_fwf(verificar,colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )

display(teste)
display(var_A)
display(var_B)

#historico=pd.concat([var_A,var_B])
#historico = var_A.append(var_B)
historico = var_A.append(var_B, ignore_index = True)
display(historico)

                           hashmd5sum sp                  arquivo
0    c04c69e9b200e055dca8b2efa4a012e4  *  IMG-20220429-WA0408.jpg
1    a04b3a929af45176aac20771513d1172  *  IMG-20220429-WA1713.jpg
2    37aac88a685025ad01a37db2ddfd9dc6  *  IMG-20220429-WA3849.jpg
3    b315dbfc526cecd6820a182cde0f4bb8  *  IMG-20220429-WA3856.jpg
4    88b76904ad803f4ab59d70aeee6f86b1  *  IMG-20220429-WA3857.jpg
..                                ... ..                      ...
524  d0868833d54a9c5e3f2c57c4d3e28a04  *  VID-20220429-WA4525.mp4
525  4c306281c48d6de9883fec532d58b907  *  VID-20220429-WA4526.mp4
526  06a639a32184a6bf852086c968bea3e6  *  VID-20220429-WA4527.mp4
527  d148453421ce0ad6340e5db7686115e5  *  VID-20220429-WA4528.mp4
528  078c9b42281bb12b5af43d8662bfc839  *  VID-20220429-WA4529.mp4

[529 rows x 3 columns]

                             hashmd5sum  sp                   arquivo
0      9eff7b4bda6e3e5ec6cc384701a748f7  ,*  ,IMG-20220112-WA1401.jpg
1      ee512d5748a6e5776b25b11ed6a25059  ,,                       NaN
2      33b6b0a1d465ae532b1a87e3ec054bdd  ,,                       NaN
3      8b734263bda75132f90f8c9940d1e165  ,,                       NaN
4      1296c4664b6d9e11db4ac82025c607b6  ,,                       NaN
...                                 ...  ..                       ...
99994  e869e6a7cfdbafe0ac02a9010183f1f0  ,,                       NaN
99995  0d641a4c13e95b698317ecd3e9c0d62b  ,,                       NaN
99996  a9764475080a08fca50b032fe1052769  ,,                       NaN
99997  1e7a366e0f956bafe83721f836cdb4cd  ,,                       NaN
99998  aaccd2ae2fdaeafff642d67fd887dc7d  ,,                       NaN

[99999 rows x 3 columns]

                             hashmd5sum   sp  arquivo
0      aaccd2ae2fdaeafff642d67fd887dc7d   ,,      NaN
1      88fafcdf376a87323caecea44cd40b93   ,,      NaN
2      671f11c30b2b0e42fad6ccad6b10b82b   ,,      NaN
3      9ee2f026892398812152546878936347   ,,      NaN
4      2581ee83dfe5c8319704e87189eecbf9   ,,      NaN
...                                 ...  ...      ...
13766  88e0f48dabd89924b5656d9e6a7b7b92  NaN      NaN
13767  8cc2b562e5059604c32504c25819b9b0  NaN      NaN
13768  7c9380772cf02698ad406202ac6ad0df  NaN      NaN
13769  3ff1e6edbf43532fdd74b521afe64744  NaN      NaN
13770  732042e7bc1e8a0bdd6e31ca1703733a  NaN      NaN

[13771 rows x 3 columns]

                              hashmd5sum   sp                   arquivo
0       9eff7b4bda6e3e5ec6cc384701a748f7   ,*  ,IMG-20220112-WA1401.jpg
1       ee512d5748a6e5776b25b11ed6a25059   ,,                       NaN
2       33b6b0a1d465ae532b1a87e3ec054bdd   ,,                       NaN
3       8b734263bda75132f90f8c9940d1e165   ,,                       NaN
4       1296c4664b6d9e11db4ac82025c607b6   ,,                       NaN
...                                  ...  ...                       ...
113765  88e0f48dabd89924b5656d9e6a7b7b92  NaN                       NaN
113766  8cc2b562e5059604c32504c25819b9b0  NaN                       NaN
113767  7c9380772cf02698ad406202ac6ad0df  NaN                       NaN
113768  3ff1e6edbf43532fdd74b521afe64744  NaN                       NaN
113769  732042e7bc1e8a0bdd6e31ca1703733a  NaN                       NaN

[113770 rows x 3 columns]

In [5]:
comparado_tem = teste[teste['hashmd5sum'].isin(list(historico['hashmd5sum']))]
display(comparado_tem)

comparado_naotem = teste[~teste['hashmd5sum'].isin(list(historico['hashmd5sum']))]
display(comparado_naotem)

comparado_tem['arquivo'].to_csv('listax.txt', index=False, header=False)
display(historico)
comparado_naotem['hashmd5sum'].to_csv('historico_C.txt', index=False, header=False, mode='a')
historico = pd.read_fwf('Historico_C.txt',colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
display(historico)

                           hashmd5sum sp                  arquivo
0    c04c69e9b200e055dca8b2efa4a012e4  *  IMG-20220429-WA0408.jpg
2    37aac88a685025ad01a37db2ddfd9dc6  *  IMG-20220429-WA3849.jpg
100  8f766518c15cc5c35bc9b29c8b84a06a  *  VID-20220429-WA0785.mp4
102  070208de7c21ee58a6f6439b7e030161  *  VID-20220429-WA1610.mp4
108  6cd0929dff7c5bb8b7cfe08986599b64  *  VID-20220429-WA3707.mp4
..                                ... ..                      ...
506  765c506a56bad32d61f8187358394e4e  *  VID-20220429-WA4506.mp4
509  b5dc6215e5cc3822d85af6adc08728ed  *  VID-20220429-WA4509.mp4
515  6447b6ea601e2ea843f55e30dccb3000  *  VID-20220429-WA4515.mp4
524  d0868833d54a9c5e3f2c57c4d3e28a04  *  VID-20220429-WA4525.mp4
525  4c306281c48d6de9883fec532d58b907  *  VID-20220429-WA4526.mp4

[104 rows x 3 columns]

                           hashmd5sum sp                  arquivo
1    a04b3a929af45176aac20771513d1172  *  IMG-20220429-WA1713.jpg
3    b315dbfc526cecd6820a182cde0f4bb8  *  IMG-20220429-WA3856.jpg
4    88b76904ad803f4ab59d70aeee6f86b1  *  IMG-20220429-WA3857.jpg
5    9d4b2a64bcea8d76420e6278d4bdc057  *  IMG-20220429-WA3858.jpg
6    58c5ac9effa4d73db58038fbd2bd17d5  *  IMG-20220429-WA3859.jpg
..                                ... ..                      ...
522  533a644e6b1693f97947f3521c02b3e8  *  VID-20220429-WA4523.mp4
523  ea489b7d9c034e066df86916bd1052da  *  VID-20220429-WA4524.mp4
526  06a639a32184a6bf852086c968bea3e6  *  VID-20220429-WA4527.mp4
527  d148453421ce0ad6340e5db7686115e5  *  VID-20220429-WA4528.mp4
528  078c9b42281bb12b5af43d8662bfc839  *  VID-20220429-WA4529.mp4

[425 rows x 3 columns]

                              hashmd5sum   sp                   arquivo
0       9eff7b4bda6e3e5ec6cc384701a748f7   ,*  ,IMG-20220112-WA1401.jpg
1       ee512d5748a6e5776b25b11ed6a25059   ,,                       NaN
2       33b6b0a1d465ae532b1a87e3ec054bdd   ,,                       NaN
3       8b734263bda75132f90f8c9940d1e165   ,,                       NaN
4       1296c4664b6d9e11db4ac82025c607b6   ,,                       NaN
...                                  ...  ...                       ...
113765  88e0f48dabd89924b5656d9e6a7b7b92  NaN                       NaN
113766  8cc2b562e5059604c32504c25819b9b0  NaN                       NaN
113767  7c9380772cf02698ad406202ac6ad0df  NaN                       NaN
113768  3ff1e6edbf43532fdd74b521afe64744  NaN                       NaN
113769  732042e7bc1e8a0bdd6e31ca1703733a  NaN                       NaN

[113770 rows x 3 columns]

                           hashmd5sum  sp  arquivo
0    a04b3a929af45176aac20771513d1172 NaN      NaN
1    b315dbfc526cecd6820a182cde0f4bb8 NaN      NaN
2    88b76904ad803f4ab59d70aeee6f86b1 NaN      NaN
3    9d4b2a64bcea8d76420e6278d4bdc057 NaN      NaN
4    58c5ac9effa4d73db58038fbd2bd17d5 NaN      NaN
..                                ...  ..      ...
420  533a644e6b1693f97947f3521c02b3e8 NaN      NaN
421  ea489b7d9c034e066df86916bd1052da NaN      NaN
422  06a639a32184a6bf852086c968bea3e6 NaN      NaN
423  d148453421ce0ad6340e5db7686115e5 NaN      NaN
424  078c9b42281bb12b5af43d8662bfc839 NaN      NaN

[425 rows x 3 columns]