In [20]:
# pandas
import pandas as pd

tabela = pd.read_excel("Duplicados_lento_03.xlsx")
display(tabela)

novos = pd.read_excel("novos.xlsx")
#display(novos)

tabela_col = ['hashmd5sum','arquivo']
df_tabela = tabela[tabela_col]

novos_col = ['hashmd5sum','arquivo']
df_novos = novos[novos_col]

#display(df_novos)

comparado_tem = df_novos[df_novos['hashmd5sum'].isin(list(df_tabela['hashmd5sum']))]
#display(comparado_tem)
comparado_tem['arquivo'].to_csv('apagar.txt', index=False, header=False)

comparado_naotem = df_novos[~df_novos['hashmd5sum'].isin(list(df_tabela['hashmd5sum']))]
display(comparado_naotem)

,hashmd5sum,arquivo,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,9eff7b4bda6e3e5ec6cc384701a748f7,IMG-20220112-WA1401.jpg,NaN,NaN,NaN,NaN
1,ee512d5748a6e5776b25b11ed6a25059,IMG-20220112-WA1402.jpg,NaN,NaN,NaN,NaN
2,33b6b0a1d465ae532b1a87e3ec054bdd,IMG-20220112-WA1403.jpg,NaN,NaN,NaN,NaN
3,8b734263bda75132f90f8c9940d1e165,IMG-20220112-WA1601.jpg,NaN,NaN,NaN,NaN
4,1296c4664b6d9e11db4ac82025c607b6,IMG-20220112-WA1602.jpg,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
83117,f1f6e85eff5d6beeed4138a45acfac4e,NaN,NaN,NaN,NaN,NaN
83118,5590c7d3f69759ae2100a87231c6c3a4,NaN,NaN,NaN,NaN,NaN
83119,91912cd269e1e9b17388f26f2463629b,NaN,NaN,NaN,NaN,NaN
83120,79085063d7583f337a79c03ad22131b1,NaN,NaN,NaN,NaN,NaN
83121,bdc3fab7c7e71d3b11d61bf652adf0ef,NaN,NaN,NaN,NaN,NaN

                          hashmd5sum                  arquivo
2   e397f173f41ec0db33aa4868d95bbf52  IMG-20220324-WA0207.jpg
4   ff1f607b18af8b3bc9433c27767ecf12  IMG-20220324-WA0209.jpg
6   eb92e55017f1c368412b2f051dbea642  IMG-20220324-WA0080.jpg
11  dcc78711b2ae2cd8bd8a489dc43d1642  IMG-20220324-WA0210.jpg

In [8]:
# comparado.to_excel("output.xlsx")
# comparado.to_excel("output.xlsx", index=False, header=False)
comparado.to_excel("output.xlsx", index=False)